<include file="Public:head" />
<include file="Public:header" headerstyle="navbar-header aside bg-info nav-xs"/>
<include file="Public:bodyframe-head" bodyframestyle="bg-black dk aside hidden-print nav-xs"/>
<section id="content">
          <section class="vbox">
            <section class="w-f-md" id="bjax-target">
              <section class="hbox stretch">
                <section>
                  <section class="vbox">
                    <section class="scrollable padder-lg">
						
   					 <div class="doc-buttons">
   					   <a href="__MODULE__/admin/video" class="btn btn-s-md btn-default">影视列表</a>
   					   <a href="__MODULE__/admin/comment" class="btn btn-s-md btn-default">评论列表</a>
   					   <a href="{:C('UC_URL')}" class="btn btn-s-md btn-default">用户中心</a>
   					 </div>

                   <section class="panel panel-default">
                    <header class="panel-heading">
                      
                      影视内容简介列表-{$videocontent.0.movieid|getmovienamebyid}
                    </header>
                    <table class="table table-striped m-b-none">
                      <thead>
                        <tr>
                          <th style="width:5%;">编号</th>
						  <th style="width:10%;">状态</th>
						  <th style="width:10%;">作者</th>
						  <th style="width:17%;">基础信息</th>
						  <th style="width:17%;">简介</th>                       
                          <th style="width:41%;">操作</th>
                        </tr>
                      </thead>
                      <tbody>
<volist name="videocontent" id="vl" key='vlk'>
						<tr>                    
                          <td>{$vlk}</td>
                          <td>
<if condition="$vl['verify'] == 0">
							  禁用 /<br>等待审核
<else/>
							  正常
</if>
						  </td>
						  <td>{$vl.userid|getusernamebyid}</td>
						  <td><a href="#modal-intro-{$vlk}" data-toggle="modal">点击查看</a></td>
						  <td><a href="#modal-content-{$vlk}" data-toggle="modal">点击查看</a></td>
                          <td>
	    					  <div class="doc-buttons">
<if condition="$vl['verify'] == 0">
	    						<a href="__MODULE__/admin/content_pass/contentid/{$vl.id}" class="btn btn-s-md btn-success">通过</a>
<else />
								<a href="__MODULE__/admin/content_forbidden/contentid/{$vl.id}" class="btn btn-s-md btn-danger">禁用</a>
</if>
								<a href="__MODULE__/admin/content_delete/contentid/{$vl.id}" class="btn btn-s-md btn-danger">删除</a>
								<a href="__MODULE__/movie/editcontent/contentid/{$vl.id}/movieid/{$vl.movieid}" class="btn btn-s-md btn-default">编辑</a>
	    					  </div>
                          </td>
                        </tr>                        
</volist>
                        
                      </tbody>
                    </table>
                  </section>
				
				
				</section>
				</section>
				</section>
				</section>
                  </section>
                </section>
              </section>
            </section>
          <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
        </section>
<include file="Public:bodyframe-foot" />
<volist name="videocontent" id="vl" key='vlk'>
  <div class="modal fade" id="modal-intro-{$vlk}" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        {$vl.intro}
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
  <div class="modal fade" id="modal-content-{$vlk}" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        {$vl.content}
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
</volist>
<include file="Public:footer" />
