<include file="Public:head" />
<include file="Public:header" headerstyle="navbar-header aside bg-info nav-xs"/>
<include file="Public:bodyframe-head" bodyframestyle="bg-black dk aside hidden-print nav-xs"/>
<section id="content">
          <section class="vbox">
            <section class="w-f-md" id="bjax-target">
              <section class="hbox stretch">
                <section>
                  <section class="vbox">
                    <section class="scrollable padder-lg">
						
   					 <div class="doc-buttons">
   					   <a href="__MODULE__/admin/video" class="btn btn-s-md btn-default">影视列表</a>
                       <a href="__MODULE__/admin/local" class="btn btn-s-md btn-default">资源列表</a>
   					   <a href="__MODULE__/admin/comment" class="btn btn-s-md btn-default">评论列表</a>
   					   <a href="{:C('UC_URL')}" class="btn btn-s-md btn-default">用户中心</a>
   					 </div>

                   <section class="panel panel-default">
                    <header class="panel-heading">
                      
                      影视资源列表-<empty name="movieid">全部<else />{$movieid|getmovienamebyid}</empty>
                    </header>
                    <table class="table table-striped m-b-none">
                      <thead>
                        <tr>
                          <th style="width:60%;">标题</th>
                          <th style="width:10%;">上传者</th>
						  <th style="width:10%;">状态</th>
						  <th style="width:10%;">在线</th>                    
                          <th style="width:10%;">操作</th>
                        </tr>
                      </thead>
                      <tbody>
<volist name="localvideo" id="vl" key='vlk'>
						<tr>                    
                          <td>{$vl.title}<empty name="movieid">(<a href="__MODULE__/admin/local/movieid/{$vl.movieid}">{$vl.movieid|getmovienamebyid}</a>)</empty></td>
						  <td>{$vl.userid|getusernamebyid}</td>
                          <td>
<if condition="$vl['verify'] == 0">
							  禁用 /<br>等待审核
<else/>
							  正常
</if>
						  </td>
						  <td>
<if condition="$vl['online'] == 0">
							  不支持
<else/>
							  支持
</if>
						  </td>
                          <td>
						    <div class="btn-group">
		                      <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">操作 <span class="caret"></span></button>
		                      <ul class="dropdown-menu">
								<li><a href="__MODULE__/admin/local_shot/localid/{$vl.id}">查看截图</a></li>
		                        <li><a href="__MODULE__/movie/show/id/{$vl.movieid}/playid/{$vl.id}">播放</a></li>
								<li class="divider"></li>
		                        <li><a href="__MODULE__/admin/local_delete/localid/{$vl.id}">删除</a></li>
								<li class="divider"></li>
<if condition="$vl['verify'] == 1">
		                        <li><a href="__MODULE__/admin/local_forbidden/localid/{$vl.id}">禁用</a></li>
<else />
		                        <li><a href="__MODULE__/admin/local_pass/localid/{$vl.id}">通过</a></li>
</if>
		                      </ul>
		                    </div>
                          </td>
                        </tr>                        
</volist>
                        
                      </tbody>
                    </table>
                  </section>
                      </section>
                    </section>
                  </section>
                </section>
              </section>
            </section>
          <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
        </section>
<include file="Public:bodyframe-foot" />
<include file="Public:footer" />
