<include file="Public:head" />
<include file="Public:header" headerstyle="navbar-header aside bg-info nav-xs"/>
<include file="Public:bodyframe-head" bodyframestyle="bg-black dk aside hidden-print nav-xs"/>
<section id="content">
          <section class="vbox bg-white">
            <header class="header bg-light lter hidden-print">
              <a href="#" class="btn btn-sm btn-info pull-right" onclick="window.print();">Print</a>
              <p>关于我们</p>
            </header>
            <section class="scrollable wrapper">
              <i class="icon-grid icon fa fa-3x"></i>
              <div class="row">
                <div class="col-xs-6">
                  <h4>影视资源分享平台</h4>
                  <p><a href="https://github.com/xiaohuanshu/Video-Share-site">Video-Share site</a></p>
                  <p>#################### <br>
                    ####################<br>
                    ####################
                  </p>
                  <p>
                    邮箱:81569653@163.com<br>
                  </p>
                </div>
                
              </div>          
              
              
              <div class="line"></div>
			  Video-Share site<br>
			  校园等局域网内视频分享、请愿、交流网站<br>
			 <br><br> 本项目希望更改局域网中使用ftp分享视频资源的局面，让一人集中发布视频资源改为大家分享自己的资源，目前只在作者的学校使用，也希望更多的学校能够加盟，才用此系统。<br>
			  由于作者才学疏浅，如有问题、建议或有学校希望加盟请联系作者xiaohuanshu@gmail.com<br>
<br><br>
			  开发说明<br>
			  基于php、thinkphp3.2.3开发<br>
			  为了与其他系统更好的整合，采用了ucenter用户中心，无ucenter的版本正在制作中。<br>
			  作者正在设计后台中。。还有很多内容正在完善。<br>
<br><br>
			  开源协议<br>
			  基于Apache license 2.0协议开源<br>
			  如许改动代码或有学校加盟请保留原作者信息！<br>        
            </section>
          </section>
          <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
        </section>
<include file="Public:bodyframe-foot" />
<include file="Public:footer" />