<include file="Public:head" />
<include file="Public:header" headerstyle="navbar-header aside bg-info nav-xs"/>
<include file="Public:bodyframe-head" bodyframestyle="bg-black dk aside hidden-print nav-xs"/>
<section id="content">
          <section class="vbox bg-white">
            <header class="header bg-light lter hidden-print">
              <a href="#" class="btn btn-sm btn-info pull-right" onclick="window.print();">Print</a>
              <p>关于我们</p>
            </header>
            <section class="scrollable wrapper">
              <i class="icon-grid icon fa fa-3x"></i>
              <div class="row">
                <div class="col-xs-6">
                  <h4>影视资源分享平台</h4>
                  <p><a href="http://www.wlanbank.com">www.wlanbank.com</a></p>
                  <p>#################### <br>
                    ####################<br>
                    ####################
                  </p>
                  <p>
                    邮箱:81569653@163.com<br>
                    Fax:  800-692-7753
                  </p>
                </div>
                
              </div>          
              
              
              <div class="line"></div>
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 60px">QTY</th>
                    <th>DESCRIPTION</th>
                    <th style="width: 140px">UNIT PRICE</th>
                    <th style="width: 90px">TOTAL</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>iPhone 5 32GB White &amp; Silver (GSM) Unlocked</td>
                    <td>$749.00</td>
                    <td>$749.00</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>iPad mini with Wi-Fi 32GB - White &amp; Silver</td>
                    <td>$429.00</td>
                    <td>$858.00</td>
                  </tr>
                  <tr>
                    <td colspan="3" class="text-right"><strong>Subtotal</strong></td>
                    <td>$1607.00</td>
                  </tr>
                  <tr>
                    <td colspan="3" class="text-right no-border"><strong>Shipping</strong></td>
                    <td>$0.00</td>
                  </tr>
                  <tr>
                    <td colspan="3" class="text-right no-border"><strong>VAT Included in Total</strong></td>
                    <td>$0.00</td>
                  </tr>
                  <tr>
                    <td colspan="3" class="text-right no-border"><strong>Total</strong></td>
                    <td><strong>$1607.00</strong></td>
                  </tr>
                </tbody>
              </table>              
            </section>
          </section>
          <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
        </section>
            <!-- / side content -->
          </section>
          <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
        </section>
<include file="Public:bodyframe-foot" />
<include file="Public:footer" />