<include file="Public:head" />
<include file="Public:header" headerstyle="navbar-header aside bg-info nav-xs"/>
<include file="Public:bodyframe-head" bodyframestyle="bg-black dk aside hidden-print nav-xs"/>
<section id="content">
          <section class="vbox">
            <section class="w-f-md" id="bjax-target">
              <section class="hbox stretch">
                <section>
                  <section class="vbox">
                      <iframe src="{$location}" width="100%" height="100%" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes"></iframe>            
                  </section>
                </section>
              </section>
            </section>
            <!-- / side content -->
          </section>
          <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
        </section>
<include file="Public:bodyframe-foot" />
<include file="Public:footer" />