<include file="Public:head" />
<include file="Public:header" headerstyle="navbar-header aside bg-info nav-xs"/>
<include file="Public:bodyframe-head" bodyframestyle="bg-black dk aside hidden-print nav-xs"/>
<section id="content">
          <section class="vbox">
            <section class="scrollable wrapper-lg">
              <div class="row">
                <div class="col-sm-9">
                  <div class="blog-post">                   
                    <div class="post-item">
<empty name='playid'>
                      <div class="post-media">
                        <img src="{$movieinfo.image}" class="img-full">
                      </div>
<else />
<link rel="stylesheet" href="__PUBLIC__/css/px-video.css" />
                      <div class="caption wrapper-lg">
                        <h2 class="post-title"><a href="#">当前播放视频：{$movieinfo.name}</a></h2>
                      </div>
					  
<div class="px-video-container" id="video">
    <div class="px-video-img-captions-container">
        <div class="px-video-captions hide" aria-hidden="true"></div>
        <video width="100%" poster="__ROOT__/Uploads/shot/{$playlist.0.url}.jpg" id="videos" controls>
<volist name="playlist" id="pllist">
<if condition="C('RESOURCEURL') == ''">
      <source type="video/mp4" src="__ROOT__/Uploads/movie/{$pllist.url}" />
<else />
      <source type="video/mp4" src="{:C('RESOURCEURL')}/{$pllist.url}" />
</if>
</volist>
            {//<track kind="captions" label="English captions" src="media/foo.vtt" srclang="en" default />}
        </video>
    </div>
    <div class="px-video-controls" id="video-controls"></div>
</div>

<script src="__PUBLIC__/js/px-video.js"></script>
<script>
// Initialize
new InitPxVideo({
	//"width":"%100",
    "videoId": "video",
    "captionsOnDefault": true,
    "seekInterval": 20,
    "videoTitle": "{$movieinfo.name}",
    //"debug": true
});
</script>

</empty>
<notempty name='contentV'>
	                    <div class="alert alert-warning alert-block">
	                      <button type="button" class="close" data-dismiss="alert">×</button>
	                      <p>您当前有视频介绍内容正在被审核...请等待审核后显示</p>
	                    </div>
<else />
 <notempty name='contentO'>
	                    <div class="alert alert-warning alert-block">
	                      <button type="button" class="close" data-dismiss="alert">×</button>
	                      <p>当前有别人提交的视频介绍内容正在被审核...请等待审核后显示，您可以自己提交自己的视频介绍</p>
	                    </div>
 </notempty>
</notempty>
                      <div class="caption wrapper-lg">
                        <h2 class="post-title"><a href="#">{$movieinfo.name}</a></h2>
                        <div class="post-sum">
{$mvcontent.intro|default="没有人进行编辑..."}
                        </div>
                        <div class="line line-lg"></div>
                        <div class="text-muted">
                          <i class="fa fa-user icon-muted"></i> by <a href="__MODULE__/user/profile/uid/{$mvcontent.userid}" class="m-r-sm">{$mvcontent.userid|getusernamebyid}</a>
                          <i class="fa fa-clock-o icon-muted"></i> {$mvcontent.time}
                        </div>
                      </div>
                    </div>
                    <div class="post-item">
                      <div class="caption wrapper-lg">
{$mvcontent.content|default="没有人进行编辑..."}
                        <h2 class="post-title">&nbsp;</h2><div class="post-sum">
                        </div>
                        <div class="line line-lg"></div>
                        <div class="text-muted">
                          <i class="fa fa-user icon-muted"></i> by <a href="__MODULE__/user/profile/uid/{$mvcontent.userid}" class="m-r-sm">{$mvcontent.userid|getusernamebyid}</a>
                          <i class="fa fa-clock-o icon-muted"></i> {$mvcontent.time}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
<notempty name='localV'>
	                    <div class="alert alert-warning alert-block">
	                      <button type="button" class="close" data-dismiss="alert">×</button>
	                      <p>您当前有视频资源正在被审核...请等待审核后显示</p>
	                    </div>
<else />
 <notempty name='localO'>
	                    <div class="alert alert-warning alert-block">
	                      <button type="button" class="close" data-dismiss="alert">×</button>
	                      <p>当前有别人上传的视频正在被审核...请等待审核后显示，您也可以分享自己的视频资源</p>
	                    </div>
 </notempty>
</notempty>
                  <section class="panel panel-default">
                    <header class="panel-heading">
                      
                      下载列表
                    </header>
                      <div class="table-responsive">
                    <table class="table table-striped m-b-none table-condensed">
                      <thead>
                        <tr>
                          <th class="col-sm-9"> 标题</th>
                          <th class="col-sm-2">上传者</th>
                          <th class="col-sm-1">操作</th>
                        </tr>
                      </thead>
                      <tbody>
<volist name="locallist" id="lolist" empty="$listempty">
                        <tr>                    
                          <td>
                            {$lolist.title}
                          </td>
                          <td>{$lolist.userid|getusernamebyid}</td>
                          <td class="text-right">
                            <div class="btn-group" style="float:left">
<if condition="$lolist['online'] == 1">
  <a href="__MODULE__/movie/show/id/{$movieinfo.id}/playid/{$lolist.id}"><i class="fa fa-play-circle"></i></a>
</if>
                            </div>
<div class="btn-group" style="float:right">
<if condition="C('RESOURCEURL') == ''">
	  <a href="__ROOT__/Uploads/movie/{$lolist.url}" download="{$lolist.title}.{$lolist.url|strrchr='.'|substr=1}" onclick="downloadinc({$movieinfo.id});">
<else />
	  <a href="{:C('RESOURCEURL')}/{$lolist.url}" download="{$lolist.title}.{$lolist.url|strrchr='.'|substr=1}" onclick="downloadinc({$movieinfo.id});">
</if>
	  <i class="fa fa-download"></i></a>{//|strrchr='/uploads/'|substr=1}
                            </div>{//substr(strrchr($lolist.url, '.'), 1)}
                          </td>
                        </tr>
</volist>                        
                        
                        
                      </tbody>
                    </table>
                          </div>
                  </section>
                </div>
                  <h4 class="m-t-lg m-b">{$mvcommentcount} 条评论</h4>
                  <section class="comment-list block">
<volist name="commentlist" id="cmlist" empty="">
                    <article id="comment-id-1" class="comment-item">
                      <a class="pull-left thumb-sm">
                        <img src="{:C('UC_URL')}/avatar.php?uid={$cmlist.userid}&type=virtual&size=middle" class="img-circle">
                      </a>
                      <section class="comment-body m-b">
                        <header>
                          <a href="__MODULE__/user/profile/uid/{$cmlist.userid}"><strong>{$cmlist.userid|getusernamebyid}</strong></a>
                          {$cmlist.userid|mvshowusertype=$cmlist['movieid']}
                          <span class="text-muted text-xs block m-t-xs">
                            {$cmlist.time}
<notempty name="isadmin">
							<a href="__MODULE__/admin/comment_delete/id/{$cmlist.id}" class="btn btn-danger btn-xs">删除</a>
</notempty>
                          </span>
                        </header>
                        <div class="m-t-sm">{$cmlist.content}</div>
                      </section>
                    </article>
</volist>
                  </section>
<A NAME="comment"></a>
                  <h4 class="m-t-lg m-b">留下你的评论</h4>
                  <form action="__MODULE__/movie/addcomment/id/{$movieinfo.id}" method="post" name="comform">
                    <div class="form-group">
                      <textarea name="content" id="comcon" class="form-control" rows="5" placeholder="写下你的评论..."></textarea>
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-success">发布评论</button><span>Ctrl+Enter发送</span>
                    </div>
                  </form>
                </div>
                <div class="col-sm-3">
                  <h5 class="font-bold">视频统计</h5>
                  <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge pull-right">{$listcount}</span>视频数量
                    </li>
                    <li class="list-group-item">
                        <span class="badge pull-right">{$wishcount}</span>请愿人数
                    </li>
                    <li class="list-group-item">
                        <span class="badge pull-right">{$mvfacount}</span>收藏人数
                    </li>
                    <li class="list-group-item">
                        <span class="badge pull-right">{$movieinfo.downloadcount}</span>下载次数
                    </li>
                    <li class="list-group-item">
                        <span class="badge pull-right">{$movieinfo.playcount}</span>播放次数
                    </li>
                  </ul>
                  <div class="doc-buttons">
		                <a href="__MODULE__/movie/upload/movieid/{$movieinfo.id}" class="btn btn-s-md btn-default">我要上传</a>  
<if condition="ismy($movieinfo['id'],$uid) == '0'">
		                <a href="#" class="btn btn-s-md btn-primary" data-toggle="class:" onclick="ifa({$movieinfo.id});">
                                  <span class="text">收藏</span>
                                  <span class="text-active">收藏✔</span>
                                </a>
<else />
		                <a href="#" class="btn btn-s-md btn-primary active" data-toggle="class:" onclick="ifa({$movieinfo.id});">
                                  <span class="text">收藏</span>
                                  <span class="text-active">收藏✔</span>
                                </a>
</if>
		                <a href="__MODULE__/movie/edit/movieid/{$movieinfo.id}" class="btn btn-s-md btn-default">编辑内容</a>
<if condition="iswish($movieinfo['id'],$uid) == '0'">
		                <a href="#" class="btn btn-s-md btn-info" data-toggle="class:" onclick="iwish({$movieinfo.id});">
                                  <span class="text">请愿</span>
                                  <span class="text-active">请愿✔</span>
                                </a>
<else />
		                <a href="#" class="btn btn-s-md btn-info active" data-toggle="class:" onclick="iwish({$movieinfo.id});">
                                  <span class="text">请愿</span>
                                  <span class="text-active">请愿✔</span>
                                </a>
</if>
		                <a href="__MODULE__/user/messagecenter/action/2/inf/xiaohuanshu/inf2/用户举报--被举报资源名称:{$movieinfo.name}--被举报资源id:{$movieinfo.id}--资源举报原因:" class="btn btn-s-md btn-danger">举报</a>
		              </div>
<notempty name="isadmin">
					  <span>管理员功能：</span>
					  <div class="doc-buttons">
<if condition="$movieinfo['verify'] == '1'">
					    <a href="__MODULE__/admin/video_forbidden/movieid/{$movieinfo.id}" class="btn btn-s-md btn-danger">禁用</a>
<else />
						<a href="__MODULE__/admin/video_verify/movieid/{$movieinfo.id}" class="btn btn-s-md btn-success">通过</a>
</if>
						<a href="__MODULE__/admin/video_delete/movieid/{$movieinfo.id}" class="btn btn-s-md btn-danger">删除</a>
				  	  </div>
</notempty>
                  <div class="tags m-b-lg l-h-2x">
<notempty name="$movieinfo['type']">
<volist name=":explode(',',$movieinfo['type'])" id="mtype" key='k'>
<a href="__MODULE__/movie/mlist?type={$mtype}" class="label bg-primary">{$mtype} </a> |
</volist>
</notempty>
                  </div>
                  <h5 class="font-bold">视频动态</h5>
                  <div class="timeline">
                    <article class="timeline-item active">
                        <div class="timeline-caption">
                          <div class="panel bg-primary lt no-borders">
                            <div class="panel-body">
                              <div class="m-t-sm timeline-action">
                                <span class="h3 pull-left m-r-sm">发布时间线</span>
                              </div>
                            </div>
                          </div>
                        </div>
                    </article>
<volist name="timeline" id="tl" key="tlk" empty="没有数据">
<if condition="($tlk+1)%2==1">
                    <article class="timeline-item alt">
<else/>
                    <article class="timeline-item">
</if>
                        <div class="timeline-caption">                
                          <div class="panel panel-default">
                            <div class="panel-body">
<if condition="($tlk+1)%2==1">
                              <span class="arrow right"></span>
<else/>
                              <span class="arrow left"></span>
</if>
                              <span class="timeline-icon"><i class="{$tl.icon}"></i></span>
                              <span class="timeline-date">{$tl.time|strtotime|date="Y-m-d",###}</span>
                              <div class="text-sm">{$tl.footer}</div>
                              <h5>{$tl.title}</h5>
                              <p>{$tl.content}</p>
                            </div>
                          </div>
                        </div>
                    </article>
</volist>
                  </div>
                </div>
              </div>
            </section>
          </section>
          <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
        </section>
<include file="Public:bodyframe-foot" />
<script type="text/javascript">
          $('#comcon').keypress(function(e){
            if(e.ctrlKey && e.which == 13 || e.which == 10) {
                   $('form[name=comform]').submit();
                  }
                });
</script>
<include file="Public:footer" />
