<include file="Public:head" />
<include file="Public:header" headerstyle="navbar-header aside bg-info nav-xs"/>
<include file="Public:bodyframe-head" bodyframestyle="bg-black dk aside hidden-print nav-xs"/>
<section id="content">
          <section class="vbox">
            <section class="scrollable padder">
              <div class="m-b-md">
                <h3 class="m-b-none">影视资源发布</h3>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <section class="panel panel-default">
                    <div class="panel-body">
                      <h2>恭喜您，您的请愿信息已经发布，请耐心等待别人的分享</h2>
<a href="__MODULE__/movie/edit/movieid/{$movieid}" class="btn btn-default btn-lg">继续编写视频信息</a>
                    </div>
                  </section>
                </div>
              </div>
            </section>
          </section>
          <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
        </section>
      </section>
    </section>
<include file="Public:bodyframe-foot" />
<include file="Public:footer" />